.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 2rem;
}

.navbar .navbar-logo {
    width: 10%;
}

.navbar .navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    width: 40%;
}

.navbar ul li {
    padding: 0 2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #2B3B47;
    font-weight: bold;
}