.color1 {
    background-color: coral;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: .7rem 1.5rem;
    border: 1px white solid;
    border-radius: 1rem;
}

.color2 {
    background-color: rgb(219, 90, 43);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: .7rem 1.5rem;
    border: 1px white solid;
    border-radius: 1rem;
}